{{!--yield--}}

<li>
  <h3>{{heading}}</h3>
{{!--the heading is used to call the heading function from the review-tile.js--}}
<p> {{review.content}}</p>
</li>
<button {{action 'delete' review}}>Delete</button>
