
<h2>My Super Rentals</h2>
<h3>About my super rentals</h3>
<p>Its is located along the Embu-Nairobi highway around 4 kilometres from Embu town <br />
    Its can accomadate many people as it as almost ten rooms per floor <br />
    The rooms are comfortabel and more sapcious to use and it can accomadate more than a family of <u><b>maximum of ten
    </b></u><br/>
    {{#link-to 'contact'}}Click here to contact us{{/link-to}}
  </p>
