{{outlet}}
<h2>You can view the advertisment</h2>
<h3><marquee direction="right">welcome to the advertismet site</marquee></h3>
<button {{action 'view'}}>View advertisment</button>
<button {{action 'add'}}>Add an advertisment</button>
<button{{action 'delete'}}>Delete</button>
