<h1>Welcome to Super-Rentals Homepage</h1>
<p>We hope that you would be much satisfied with our services Mr/Mrs <br/></p>
<ul>
  {{#each model as |rental|}}
    {{rental-tile rental=rental destroyRental="destroyRental"}}
  {{/each}}
</ul>
{{new-rental saveRental2="saveRental3"}}
<p>To know about how super-rentals{{#link-to 'about'}}click here{{/link-to}}<br/></p>
<p>To make a contact with us just {{#link-to 'contact'}}click here{{/link-to}}<br/></p>
<p>To view the advertisment {{#link-to 'advertisment'}}click here{{/link-to}}
